<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body class="container">
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/scripts/jquery.filedrop.js"></script>

</body>
</html>